@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

body {
  font-family: "Montserrat", sans-serif !important;
}
.speedDial {
  position: absolute;
  right: 0;
  top: -7px;
}
.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}
.dropdown {
  position: relative;
  width: 11em;
  filter: url(#goo);
}
.dropdown__face,
.dropdown__items {
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  padding: 10px;
  border-radius: 20px;
}
.dropdown__face {
  display: block;
  position: relative;
}
.dropdown__items {
  margin: 0;
  position: absolute;
  right: 0;
  top: 50%;
  width: 100%;
  list-style: none;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}
.dropdown__items::before {
  content: "";
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  position: absolute;
  bottom: 100%;
  right: 20%;
  height: 20px;
  width: 20px;
}
.dropdown__arrow {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  top: 50%;
  right: 30px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: right;
}
.dropdown input {
  display: none;
}
.dropdown input:checked ~ .dropdown__items {
  top: calc(100% + 25px);
  visibility: visible;
  opacity: 1;
}
.dropdown__text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}
.dropdown_item_ul {
  position: absolute;
  right: 7px;
  top: 15%;
  list-style: none;
  list-style-type: none;
  display: flex;
}
.dropdown_item_li > a {
  background: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown_item_li > a > svg {
  font-size: 18px;
  color: #ff4b2b;
}
.dropdown__items > li > a {
  background: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown__items > li > a > svg {
  font-size: 18px;
  color: #ff4b2b;
}

.dropdown-svg {
  display: none;
}
.navbar {
  height: 80px;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-image: linear-gradient(to right, #ff4b2b, #ff416c) 1 2 100%;
}
.hover-shine {
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}
.hover-shine:after {
  content: "";
  width: 20%;
  height: 100%;
  position: absolute;
  left: -20%;
  top: 0;
  bottom: 0;
  right: auto;
  background-image: linear-gradient(
    -135deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );
}
.hover-shine:hover:after {
  transition: all 0.4s ease-out;
  left: 100%;
}

.gradient-text {
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-box {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  max-width: 22em;
  position: relative;
  padding: 30% 2em;
  box-sizing: border-box;
  color: #fff;
  background: #000;
  background-clip: padding-box;
  /* !important */
  border: solid 5px transparent;
  /* !important */
  border-radius: 1em;
}
.gradient-box:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  /* !important */
  border-radius: inherit;
  /* !important */
  background: linear-gradient(to right, red, orange);
}
.nav-link {
  font-size: 1em;
}
.nav-item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 990px) {
  .col-lg-2:has(.nav-btn-1) {
    display: none;
  }
}
.nav-btn-1 {
  position: absolute;
  right: 2em;
  top: 3px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #ff416c;
  border-radius: 20px;
  height: 2.8em;
  width: 11em;
  font-size: 13px;
  padding: 7px;
  outline: none;
  overflow: hidden;
  color: #ff416c;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  z-index: 1;
}
.nav-btn-1::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  line-height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}
.nav-btn-1:hover {
  color: #fff;
  text-decoration: none;
}
.nav-btn-1:hover::before {
  box-shadow: inset 0 0 0 10em #ff4b2b;
}
.nav-btn-1 > svg {
  padding-right: 0.4em;
}
.nav-prof-icon {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  padding-right: 0.4em;
}
