.AddProductForm .row {
  margin: 0;
}
.col {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.border-right {
  border: 1px solid #dddfe2;
  border-width: 0px 1px 0px 0px;
}
.prodFormLabel {
  margin: 0;
  font-size: 15px;
  text-transform: capitalize;
}
#attrSelect,
.prodFormInput {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #dddfe2;
  width: 100%;
  outline: none;
  -webkit-appearance: none;
}
#attrSelect:invalid {
  color: #b6c1d2;
}
.prodFormInputFile {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #dddfe2;
  height: 15em;
  width: 100%;
  outline: none;
}
.prodFormTextArea {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #dddfe2;
  height: 15em;
  width: 100%;
  outline: none;
}
.prodFormTextArea:focus-visible,
.prodFormInput:focus-visible {
  border-color: #b1b1b1;
}

.col-lg-12 .file {
  opacity: 0;
  width: 70%;
  position: absolute;
}
.col-lg-4 .file {
  opacity: 0;
  width: 22%;
  position: absolute;
}

.file-input .forImg {
  border-radius: 4px;
  border: 1px solid #dddfe2;
  height: 15em;
  display: flex;
  align-items: center;
  color: #b6c1d2;
  justify-content: center;
}
#attrSelect:invalid {
  color: #b6c1d2;
}
#attrSelect {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #dddfe2;
  width: 100%;
  outline: none;
  -webkit-appearance: none;
}
.select__control {
  border: 1px solid #dddfe2 !important;
  min-height: 43px !important;
}
.select__control--is-focused {
  border-color: #b1b1b1 !important;
  box-shadow: none !important;
}
.selectAttrDiv {
  display: flex;
  flex-direction: row;
}
.selectAttrDiv > div {
  width: 75%;
}
.selectAttrDiv > button {
  width: 21%;
}
.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: none !important;
}
