.AddProductForm .row {
  margin: 0;
}
.col1 {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col1 > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.border-right {
  border: 1px solid #dddfe2;
  border-width: 0px 1px 0px 0px;
}
.prodFormLabel {
  margin: 0;
  font-size: 15px;
  text-transform: capitalize;
}
#attrSelect,
.prodFormInput {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #dddfe2;
  width: 100%;
  outline: none;
  -webkit-appearance: none;
}
#attrSelect:invalid {
  color: #b6c1d2;
}
.prodFormInputFile {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #dddfe2;
  height: 15em;
  width: 100%;
  outline: none;
}
.prodFormTextArea {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #dddfe2;
  height: 15em;
  width: 100%;
  outline: none;
}
.prodFormTextArea:focus-visible,
.prodFormInput:focus-visible {
  border-color: #b1b1b1;
}

.col-lg-12 .file {
  opacity: 0;
  width: 70%;
  position: absolute;
}
.col-lg-4 .file {
  opacity: 0;
  width: 22%;
  position: absolute;
}

.file-input .forImg {
  border-radius: 4px;
  border: 1px solid #dddfe2;
  height: 15em;
  display: flex;
  align-items: center;
  color: #b6c1d2;
  justify-content: center;
}
#attrSelect:invalid {
  color: #b6c1d2;
}
#attrSelect {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #dddfe2;
  width: 100%;
  outline: none;
  -webkit-appearance: none;
}
.select__control {
  border: 1px solid #dddfe2 !important;
  min-height: 43px !important;
}
.select__control--is-focused {
  border-color: #b1b1b1 !important;
  box-shadow: none !important;
}
.selectAttrDiv {
  display: flex;
  flex-direction: row;
}
.selectAttrDiv > div {
  width: 75%;
}
.selectAttrDiv > button {
  width: 21%;
}
.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: none !important;
}
.ul-size-add {
  padding: 0;
  display: flex;
  align-items: center;
}
.ul-size-add > li {
  margin: 0px 4px !important;
  display: flex;
}
.ul-size-add li a {
  cursor: pointer;
}
.ul-color-add {
  padding: 0;
  display: flex;
  align-items: center;
}
.ul-color-add > li {
  margin: 4px !important;
  display: flex;
}
.ul-color-add li a {
  cursor: pointer;
}
.prodCardInput {
  background: transparent;
  border: none;
}
.prodCardInput.category {
  color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.prodCardInput.shortDesc {
  color: #fff;
  font-size: 11px;
  resize: none;
}
.prodCardInput.name {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 60px;
}
.prodCardInput.category-bold {
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 900;
  width: 110px;
}
.prodCardInput.collection {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
}
.prodCardInput.currency {
  width: 45px;
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  text-transform: uppercase;
}
.prodCardInput.price {
  width: 45px;
  font-size: 18px;
  font-weight: 900;
  color: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.imagesLibaray {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-left: 260px;
}
.imagesLibarayContent {
  border-radius: 100px;
  background-color: #e0e0e0;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 100px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.imagesLibarayContent > img {
  height: 250px;
  width: 250px;
}
