.AddProductForm > .row {
  margin: 0;
}
.AddProductForm > div > div {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AddProductForm > div > div > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.AddProductForm > div > div > div > label {
  margin: 0;
  font-size: 15px;
}
.AddProductForm > div > div > div > input,
.AddProductForm > div > div > div > select {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #dddfe2;
  width: 100%;
  outline: none;
  -webkit-appearance: none;
}
.AddProductForm > div > div > div > select:invalid {
  color: #b6c1d2;
}
.AddProductForm > div > div > div > input[type="file"] {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #dddfe2;
  height: 15em;
  width: 31%;
  outline: none;
}
.AddProductForm > div > div > div > textarea {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #dddfe2;
  height: 15em;
  width: 100%;
  outline: none;
}
.AddProductForm > div > div > div > textarea:focus-visible,
.AddProductForm > div > div > div > input:focus-visible {
  border-color: #b1b1b1;
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input .forImg {
  border-radius: 4px;
  border: 1px solid #dddfe2;
  height: 15em;
  display: flex;
  align-items: center;
  color: #b6c1d2;
  justify-content: center;
}
