/* .filterBox {
  padding: 0 50px;
}
.heading {
  text-align: center;
  margin: 50px 0;
}
.categoryBox {
  list-style: none;
}
.category-link {
  transition: all 0.2s ease-in;
  font-size: 15px;
}
.category-link:hover {
  color: #ff4b2b;
  cursor: pointer;
} */
/* .productCard {
  min-height: 400px;
  margin: 15px 0px;
  padding: 15px;
  border-radius: 20px;
} */
.imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}
.contentBox {
  padding: 15px;
}
.imgBox > img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.prodTitle {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  color: black;
}
.ratingBox {
  display: flex;
  align-items: center;
  font-size: 10px;
  letter-spacing: 1px;
}
.prodPrice {
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 15px;
  color: #ff4b2b;
  font-weight: 600;
}

.productContainer {
  width: 280px;
  height: 500px;
  margin: 30px auto;
}

.productCard {
  border-radius: 25px;
  box-shadow: -11px 11px 10px rgba(0, 0, 0, 0.3);
  color: #000;
}

.productCard-head-1 {
  position: relative;
  height: 252px;
  background: #fa782e;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fa782e', endColorstr='#c82930', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 25px 25px 0 0;
}

.productCard-head-2 {
  position: relative;
  height: 252px;
  background: #000;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #000 8%, #fff 83%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #000 8%, #fff 83%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #000 8%, #fff 83%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#fff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 25px 25px 0 0;
}

.productCard-head-3 {
  position: relative;
  height: 252px;
  background: #2e3d6b;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #2e3d6b 8%, #ec5756 115%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #2e3d6b 8%, #ec5756 115%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #2e3d6b 8%, #ec5756 115%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2E3D6B', endColorstr='#EC5756', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 25px 25px 0 0;
}
.productCard-head-4 {
  position: relative;
  height: 252px;
  background: #2e3d6b;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #edfe96 8%, #000 115%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #edfe96 8%, #000 115%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #edfe96 8%, #000 115%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#000', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 25px 25px 0 0;
}
.productCard-head-5 {
  position: relative;
  height: 252px;
  background: #6aadd8;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #6aadd8 8%, #bc468c 115%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #6aadd8 8%, #bc468c 115%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #6aadd8 8%, #bc468c 115%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#6aadd8', endColorstr='#BC468C', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 25px 25px 0 0;
}
.productCard-head-6 {
  position: relative;
  height: 252px;
  background: #6aadd8;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ea2a2c 8%, #b3e966 115%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ea2a2c 8%, #b3e966 115%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ea2a2c 8%, #b3e966 115%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ea2a2c', endColorstr='#b3e966', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 25px 25px 0 0;
}
.productCard-head-7 {
  position: relative;
  height: 252px;
  background: #6aadd8;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #184893 8%, #fff 115%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #184893 8%, #fff 115%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #184893 8%, #fff 115%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#184893', endColorstr='#fff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 25px 25px 0 0;
}

.productCard-head-8 {
  position: relative;
  height: 252px;
  background: #6aadd8;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #2d3d79 8%, #c7d858 115%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #2d3d79 8%, #c7d858 115%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #2d3d79 8%, #c7d858 115%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2D3D79', endColorstr='#C7D858', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 25px 25px 0 0;
}
.image-upload.ab {
  position: absolute;
}
.image-upload > input {
  display: none;
}
.card-logo {
  width: 55px;
  margin: 20px;
}

.product-img {
  position: absolute;
  left: 0;
  /* margin-top: 70px; */
  margin-left: 85px;
  width: 300px;
  height: 300px;
  transform: rotate(25deg);
}
.image-upload > label {
  cursor: pointer;
}
.product-detail {
  padding: 0 20px;
  font-size: 11px;
  color: #fff;
}

.product-detail h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.back-text {
  display: inline-block;
  font-size: 125px;
  font-weight: 900;
  margin-left: -7px;
  margin-top: -12px;
  opacity: 0.1;
}

.productCard-body {
  height: 255px;
  background: #fff;
  border-radius: 0 0 25px 25px;
}

.product-title {
  padding: 20px 20px 5px 20px;
  display: block;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.product-title b {
  font-weight: 900;
  letter-spacing: 0px;
}

.badge {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  background: #11e95b;
  padding: 2px 5px;
  border-radius: 4px;
  top: -2px;
  margin-left: 5px;
}

.product-caption {
  display: block;
  padding: 0 20px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-rating {
  padding: 0 20px;
  font-size: 11px;
}

.product-rating i.grey {
  color: #acacab;
}

.product-size h4 {
  font-size: 11px;
  padding: 0 21px;
  margin-top: 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.ul-size {
  margin-left: 15px;
}

.ul-size li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.ul-size li a {
  display: inline-block;
  text-decoration: none;
  font-size: 11px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  text-align: center;
  line-height: 23px;
  color: #000;
}

.ul-size li a.active {
  background: #f35e3d;
  color: #fff;
}

.product-size:before,
.product-size:after {
  content: "";
  display: block;
  clear: both;
}

.product-color h4 {
  font-size: 11px;
  padding: 0 21px;
  margin-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.ul-color {
  margin-left: 27px;
}

.ul-color li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.ul-color li a {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.ul-color li a.orange {
  background: #f35e3d;
}

.ul-color li a.green {
  background: #11e95b;
}

.ul-color li a.yellow {
  background: #ffd414;
}

.ul-color li a.active:after {
  position: absolute;
  content: "";
  display: inline-block;
  border: 1px solid #f35e3d;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -4px;
}

.product-price {
  position: absolute;
  background: #11e95b;
  padding: 5px 5px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  border-radius: 7px;
  margin-top: -57px;
  margin-left: -5px;
  box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
}

.product-price b {
  margin-left: 5px;
}

.yt {
  position: fixed;
  padding: 7px 10px 3px 10px;
  top: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.1);
}

.yt:hover {
  background: rgba(0, 0, 0, 0.2);
}
