.banner {
  /* background-image: url("../../images/cover.jfif"); */
  /* background-image: linear-gradient(to right, #635dc0, #3027ae); */
  background: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: black;
}

.banner > h1 {
  margin: 5vmax;

  font-size: 2.5vmax;
}

.banner > p {
  font-size: 1.4vmax;
}

.banner > a > button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-radius: 0;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax "Roboto";
}
.banner > a > button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}

.container1 {
  display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.wrap {
  color: #222;
  font-size: 24px;
}

.clip-svg {
  width: 0;
  height: 0;
}

.clip-caption {
  width: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.clip-each {
  display: block;
  position: relative;
  -webkit-clip-path: polygon(
    25% 5%,
    75% 5%,
    100% 50%,
    75% 95%,
    25% 95%,
    0% 50%
  );
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  -webkit-clip-path: url("#hexagon-clip");
  clip-path: url("#hexagon-clip");
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin: 0 auto;
}

a.clip-each:hover {
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.clip-solid {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-blend-mode: hard-light;
  -webkit-transition: all 2.5s linear;
  transition: all 2.5s linear;
}

.clip-solid:hover:after {
  height: 0;
  -webkit-transition: all 0.45s ease-in;
  transition: all 0.45s ease-in;
}

.clip-solid:hover .social-share-block {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-share-block {
  position: absolute;
  bottom: 20px;
  right: 75px;
  color: #fff;
  font-size: 70%;
  z-index: 2;
}

.social-each {
  font-size: 80%;
}

.clip-gradient {
  background: #222;
  width: 160px;
  height: 160px;
}

.clip-gradient .clip-caption {
  color: #fff;
}
.clip-border .clip-caption {
  color: #222;
}

.clip-border {
  background: #dcdcdc;
  width: 160px;
  height: 160px;
  margin-top: 7px;
}

.clip-tagline {
  display: block;
  color: #758c9b;
  text-decoration: none;
  text-align: center;
}
a.clip-each:hover > div {
  color: #fff;
}
@media only screen and (min-width: 550px) {
  /* .wrap {
		display: table;
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translateY(-50%) translateX(-50%);
		-webkit-transform: translateY(-50%) translateX(-50%);
		transform: translateY(-50%) translateX(-50%);
	} */

  .clip-block {
    display: table-cell;
    vertical-align: middle;
  }

  .clip-border {
    margin-top: 20px;
  }
}

.home-section {
  padding: 100px 0;
}
.section-title {
  margin: auto;
  text-align: center;
  margin-bottom: 70px;
  padding-bottom: 30px;
  width: 30vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
}
